.main-navigation__menu-btn {
    width: 4rem;
    height: 3rem;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }
  .main-navigation__menu-btn span {
    width: 3rem;
    height: 2.5px;
    background: white;
  }
  .main-navigation__title {
    color: white;
  }
  .main-navigation__title a {
    text-decoration: none;
    color: white;
  }

  /* Hide header navigation */
  .main-navigation__header-nav {
    display: none;
  }
  .main-navigation__drawer-nav {
    height: 100%;
    right: 0;
  }

  /* Hide menu button and show header navigation if the screen size is 768px or greater */
  @media (min-width: 768px) {
    .main-navigation__menu-btn {
      display: none;
    }
    .main-navigation__header-nav {
      display: block;
    }
  }